{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.id %}Редактирование объявления{% else %}Создание объявления{% endif %} - Barter Platform
{% endblock %}

{% block content %}
        <form action="" method="post" style="accent-color: #0a53be">
            {% csrf_token %}
            {{ form|crispy }}                
        {% if is_update %}
            <input type="submit" value="Редактировать"
                style="background-color: #ffc107; color: #000;
                    border: none; padding: 8px 16px; border-radius: 4px;cursor: pointer;">
        {% else %}
            <input type="submit" value="Создать"
                style="background-color: #0d6efd; color: #fff; border: none;
                    padding: 8px 16px; border-radius: 4px; cursor: pointer;">
        {% endif %}
        </form>
{% endblock %}